// Cores
$color-bg-dark: #121212;
$color-text-main: #FFFFFF;
$color-text-muted: #A0A0A0;
$color-primary-orange: #FF5E00;
$color-primary-yellow: #FFB300;
$color-btn-yellow: #FFD600;

$font-main: 'Inter', sans-serif;

// Medidas
$container-max-width: 1200px;